<section class="chooseЕask">
    <div class="angularTask__word">
        <div class="contentTask">
            <img class="img" src="assets/images/cenzor.jpg" alt="Angular list of prohibited words">
        </div>
        <div class="textTask">
            <span>Angular list of prohibited words</span>
        </div>
        <div class="buttonTask">
            <button class="detailsTask" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">deteils</button>
        </div>
    </div>
    <div class="angularTask__user">
        <div class="contentTask">
            <img class="img" src="assets/images/user-list.jpg" alt="Angular user list">
        </div>
        <div class="textTask whiteColor">
            <span>Angular user list</span>
        </div>
        <div class="buttonTask">
            <button class="detailsTask" [routerLink]="[ '/works/userslist' ]" routerLinkActive="active">deteils</button>
        </div>
    </div>
    <div class="angularTask__task">
        <div class="contentTask">
            <img class="img" src="assets/images/task-list.jpg" alt="Angular task list">
        </div>
        <div class="textTask">
            <span>Angular task list</span>
        </div>
        <div class="buttonTask">
            <button class="detailsTask" [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">deteils</button>
        </div>
    </div>
</section>